{% extends "base.html" %}
{% block page %}
<!-- TÍTULO -->
<section class="mbr-section content5 cid-qRKDq0puBd mbr-parallax-background" id="content5-w">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(72, 69, 129);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-12">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    {{Title}}
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- FIM TÍTULO -->
<!-- CONTEÚDO -->
<section class="mbr-section padding-20" id="equipe">
    <div class="container" style="height: auto; padding-bottom: 40px;">

        <h4>Equipe Participante do Projeto</h4><br />
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <img src="/static/images/othon.jpg">
            </div>
            <div class="col-md-10">
                <h6>Othon Stuart Ferreira Campos</h6>
                <p>Formado em Ciências da Computação e mestrando na Universidade Federal de Sergipe. Atualmente é professor do Instituto Federal da Bahia e dedica-se a estudar os dados abertos brasileiros.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <img src="/static/images/methanias.jpg">
            </div>
            <div class="col-md-10">
                <h6>Methanias Colaço Júnior</h6>
                <p>Doutor na área de Inteligência aplicada à Gestão e à Engenharia de Software e Mestre em Informática pela Universidade Federal de Campina Grande (UFCG). Especialista em Ciência da Computação e Tecnologia da Informação para Inteligência Competitiva, foi consultor de Business Intelligence (BI) e Data Analytics de diversas empresas no nordeste e Rio de Janeiro. Colunista da revista SQL Magazine e autor do livro “Projetando Sistemas de Apoio à Decisão Baseados em Data Warehouse”, ministra treinamentos e gerencia equipe que presta consultoria em Big Data Analytics, Gestão Estratégica Corporativa e da Informação, Modelagem e Mineração de Dados, BI, Geoprocessamento, BSC,CRM, Modelagem de Processos, Oracle, SQL Server e Experimentação.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <img src="/static/images/Vinicius.png">
            </div>
            <div class="col-md-10">
                <h6>Vinicius Ferreira Santos</h6>
                <p>Formado em Sistemas para Internet e especialista em Engenharia de Software pela Faculdade de Administração e Negócios de Sergipe. Atualmente atua como Engenheiro de Software na CTIS Tecnologia, alocado no TRE de Sergipe, e é um entusiasta da área de Data Science e Machine Learning.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <img src="/static/images/td.jpg">
            </div>
            <div class="col-md-10">
                <h6>Tarcísio Dultra</h6>
                <p>
                    Desenvolvedor Web Front-End e UI/UX Designer.
                    <br><a href="http://www.tarcisiodultra.com.br" target="_blank">www.tarcisiodultra.com.br</a>
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <img src="/static/images/layla.jpeg">
            </div>
            <div class="col-md-10">
                <h6>Layla Joana Santos</h6>
                <p>Graduanda em Sistemas de Informação pela Universidade Federal de Sergipe. Técnica de Informática pela Microlins cursos profissionalizantes. Atualmente estagiária como desenvolvedora web.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <img src="/static/images/bruno.jpg">
            </div>
            <div class="col-md-10">
                <h6>Bruno Hérick Santos Gomes</h6>
                <p>Formado em Sistemas para Internet pela Faculdade de Administração e Negócios de Sergipe. Atualmente é Analista de Sistemas na Influir Automatização de Processos e trabalha focado no desenvolvimento de aplicações para internet e para dispositivos móveis.</p>
            </div>
        </div>
    </div>
</section>
<!-- FIM CONTEÚDO -->
{% endblock %}